<!DOCTYPE html>
<html lang="en">

<header>
  <% include ./partials/_header %>
</header>

<nav>
  <% include ./partials/_nav %>
</nav>

<body>
  Could not find a shortURL with the id: <%= shortURL %>
  </ul>
</body>
</html>