<% include ./partials/_head %>

<header>
  <% include ./partials/_header %>
</header>

<nav>
  <% include ./partials/_nav %>
</nav>

<body>
  <div class='tinyURL'>
    Could not find a shortURL with the id: <%= shortURL %>
  </div>
</body>
</html>