<!DOCTYPE html>
<html lang="en">

<header>
  <% include ./partials/_header %>
</header>

<body>
  <% for (url in urls) { %>
    <%= url %> - <%= urls[url] %>
    <a href='/urls/<%= url %>'>Edit</a>
    <form method='POST' action='/urls/<%= url %>?_method=DELETE'>
      <button type="submit">Delete</button>
    </form>
  <% }; %>
</body>
</html>