<% include ./partials/_head %>

  <head>
    <% include partials/_header %>
  </head>

  <nav>
    <% include ./partials/_nav %>
  </nav>

  <body>
    <form action='/urls' method='POST'>
      <label for='longURL'>Enter a URL:</label>
      <input class='urlInput' id='longURL' type='text' name='longURL' placeholder='http://www.anyURL.com'>
      <input class='btn' type='submit' value='Submit'>
    </form>
  </body>
</html>