<% include ./partials/_head %>

  <header>
    <% include ./partials/_header %>
  </header>

  <nav>
    <% include ./partials/_nav %>
  </nav>

  <body>
    <form method='POST' action='/urls/<%= shortURL %>?_method=PUT'>
      <input class='urlInput' type='text' value='<%= longURL %>' name='url'></input>
      <button class='btn' type='submit'>Update</button>
    </form>
  </body>
</html>