<% include ./partials/_head %>

<header>
  <% include ./partials/_header %>
</header>

<nav>
  <% include ./partials/_nav %>
</nav>

<body>
  <% for (url in urls) { %>
    <div class='tinyURL'>
      <%= urls[url].shortURL %> - <%= urls[url].longURL %>
      <br/>
      <form method='POST' action='/urls/<%= urls[url].shortURL %>?_method=DELETE'>
        <a href='/urls/<%= urls[url].shortURL %>' class='btn'>Edit</a>
        <button class='btn' type='submit'>Delete</button>
      </form>
    </div>
  <% }; %>
</body>
</html>