<% include ./partials/_head %>

  <head>
    <% include partials/_header %>
  </head>

  <nav>
    <% include ./partials/_nav %>
  </nav>

  <body>
    <div class='tinyURL'>
      <form action='/urls' method='POST'>
        <label for='longURL'>Enter a URL:</label>
        </br>
        <input class='urlInput' id='longURL' type='text' name='longURL' placeholder='http://www.anyURL.com'>
        <br/>
        <input class='btn' type='submit' value='Submit'>
      </form>
    </div>
  </body>
</html>