<!DOCTYPE html>
<html lang="en">

<header>
  <% include ./partials/_header %>
</header>

<body>
  <% for (url in urls) { %>
    <%= urls[url].shortURL %> - <%= urls[url].longURL %>
    <a href='/urls/<%= urls[url].shortURL %>'>Edit</a>
    <form method='POST' action='/urls/<%= urls[url].shortURL %>?_method=DELETE'>
      <button type="submit">Delete</button>
    </form>
  <% }; %>
</body>
</html>