<% include ./partials/_head %>

  <header>
    <% include ./partials/_header %>
  </header>

  <nav>
    <% include ./partials/_nav %>
  </nav>

  <body>
    <div class='tinyURL'>
      <form method='POST' action='/urls/<%= shortURL %>?_method=PUT'>
        <label for='longURL'>Edit URL:</label>
        <input class='urlInput' type='text' value='<%= longURL %>' name='url'></input>
        <br/>
        <button class='btn' type='submit' title='Save'><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
      </form>
    </div>
  </body>
</html>